<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>模板</title>
</head>
<body>
	<h2>模板</h2>
	<h2>{$name}</h2>
	<h2>使用函数:{$pass|md5|substr=1,3}</h2>
	<h2>使用函数:{$time|date='Y-m-d',###}</h2>
	{if condition="($c==10)"}
	10
	{elseif condition="($c==20)"}
	20
	{else/}
	1000
	{/if}
	<table border="1px" width="500px">
		<tr>
			<th>NAME</th>
			<th>AGE</th>

		</tr>

		{volist name="arr" id="row"}
		<tr>
			<td>{$row['name']}</td>
			<td>{$row['age']}</td>

		</tr>
		{/volist}
	</table>
</body>
</html>